
h1{
    text-align: center;
    color: #000b36;
}

/* Login Card */
.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: rgba(207, 233, 255, 0.80);
    padding: 25px 65px 25px 40px;
    width: 450px;

    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Title */
.form-container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Labels */
.form-container label {
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

/* Inputs */
.form-container input {
    width: 100%;
    padding: 8px;
    margin: 6px 0 15px 0;

    border: 1px solid #8fa8cf;
    border-radius: 5px;
}

/* Button */
.form-container button {
    width: 104%;
    padding: 10px;

    background-color: rgb(70, 130, 180);
    color: white;
    border: none;
    border-radius: 6px;

    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-container button:hover {
    background-color: rgb(50, 110, 160);
}


/* Header */
header {
    text-align: center;
    padding: 5px 0;
    font-size: 2rem;
    color: #000000;
    background-color: #c0ceec;
    border-radius: 100px;
}

.image-container {
    position: relative;
    height: 100vh;
    width: 100%;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 180px;
    background-color: #204264;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.side-nav a {
    color: #ecf0f1;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
    border-left: 4px solid transparent;
    margin-bottom: 5px;
    transition: all 0.3s;
}

.side-nav a:hover {
    background-color: #2c3e50;
    border-left: 4px solid #f39c12;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

section {
    padding: 50px;
    margin: 20px 0;
    background-color: #ced8ee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

section h2 {
    margin-top: 0;
}

/* Slideshow */
.slideshow-container {
    float: right;
    max-width: 80%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.fade {
    animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* Profile Card */
.profile-section {
    display: flex;
    justify-content: center;
}


.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}


.card img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card h2 {
    margin-bottom: 5px;
}

.card p {
    color: #666;
    font-size: 0.95rem;
}

/* Progress Bar */
.progress-section {
    margin-left: 180px;
    padding: 40px;
}


.progress-container {
    width: 300px;
    background-color: #dddddd;
}


.progress-bar {
    width: 0;
    height: 20px;
    background-color: green;
}

/* Collapsible Section */
.container {
    width: 50%;
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.collapsible-section {
    margin-left: 180px;
    padding: 40px;
}


.collapsible {
    background-color: #0f263e;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s ease;
}

.content {
    margin-left: 170px;
    padding: 20px;
}