/* Header */
header {
    text-align: center;
    background-color: rgb(207, 240, 207);
    color: #237626;
    padding: 20px;
    width: 97%;
}

/* Page Layout */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    flex-direction: column;
}

/* Quiz Box */
.quiz-container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    width: 90%;
    max-width: 600px;
    padding: 20px;

    text-align: center;
    margin-top: 20px;
}

/* Question Text */
.question {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Options */
.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

/* Hover Effect */
.option:hover {
    background-color: #007bff;
    color: #fff;
}

/* Timer */
.timer {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ff5722;
}

/* Score Result */
.result {
    font-size: 1.5em;
    color: #4caf50;
    display: none;
    margin-top: 15px;
}

/* Restart Button */
.restart-btn {
    background-color: #007bff;
    color: #fff;

    border: none;
    padding: 10px 20px;
    font-size: 1em;

    border-radius: 8px;
    cursor: pointer;

    margin-top: 20px;
    display: none;
}

.restart-btn:hover {
    background-color: #0056b3;
}